<div class="row">
	<div class="hero-unit">
	<h1>Twilio Demo Application</h1>
	<p>
	This application has been designed for demonstration purposes at a Meetup of <%= link_to "Rubyshift Munich", "http://munich.rubyshift.org/" %>.<br/>
	developer: Christoph Engelhardt <%= link_to "( Blog )", "http://www.hiddenfeatures.net"%> | 
				Twitter: <%= link_to "@hidden_features", "https://twitter.com/#!/hidden_features"%> <br />
	proudly using: <%= link_to "twilio", "http://www.twilio.com" %> | <%= link_to "Bootstrap, from Twitter", "http://twitter.github.com/bootstrap" %>
	</p>
	</div>

</div>
