<div class="row">
	<div class="span10 offset1">
		<h1>Listing text messages</h1>
		
		<table class="table table-bordered table-striped">
		  <tr>
		    <th>Direction</th>
		    <th>Number</th>
		    <th>Text</th>
		    <th></th>
		  </tr>
		
		<% @sms.each do |sm| %>
		  <tr>
		    <td><%= sm.direction %></td>
		    <td><%= sm.number%></td>
		    <td><%= sm.text %></td>
		    <td><%= link_to 'Destroy', sm, confirm: 'Are you sure?', method: :delete %></td>
		  </tr>
		<% end %>
		</table>
		
		<br />
		
		<%= link_to 'New SMS', new_sm_path, {:class => 'btn btn-inverse'} %>
	</div>
</div>

<br />
<br />

<div class="row">
	<div class="span10 offset1 alert alert-info">
			To receive text messages: 
			<pre>
def incoming
    @sms = Sm.new(text: params['Body'], number: params['From'], direction: 'in')
    @sms.save
    render text: "thanks for transmitting", status: 200
end
			</pre>
			
	</div>
</div>

